img.right {
    float: right;
}

img.left {
    float: left;
}

.block-heading,
.block-paragraph,
.block-image {
    overflow: hidden;
    padding: 10px 0;
}

img {
    max-width: 1200px;
    height: auto;
}

body {
    background: #FDFDFD;
    color: rgb(52, 48, 17);
    font-family: Avenir-Black, "Helvetica Neue Bold", "Arial Black";
}

.flex__container {
    display: flex;
    justify-content: center;
}

.flex__item {
    flex-basis: 600px;
}

.blog-posts-list {
    display: flex;
    flex-direction: column;
}

.blog-posts-list__item {
    display: flex;
    flex-direction: row;
}

.blog-posts-item {

}

.blog-posts-item--text {
    flex-basis: 100%;
}

.blog-posts-item--image {

}

.blog-posts-list__link {

}

.blog-posts-list__link:hover {

}