img.right {
    float: right;
}

img.left {
    float: left;
}

.block-heading,
.block-paragraph,
.block-image {
    overflow: hidden;
    padding: 10px 0;
}

img {
    
}

body {
    background: rgba(237, 245, 254, 0.5);
    color: rgb(26, 23, 18);
    font-family: Georgia, Roboto Slab, serif;
}