{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="blog-post">

        <h1 class="blog-post__title">{{ page.title }}</h1>
        <p class="blog-post__date">{{ page.date }}</p>
        <p class="blog-post__category">
            <a href="">

            </a>
                {{ page.date }}
        </p>

        <div class="blog-post__body">
            {{ self.body }}
        </div>

        <p><a href="{{ page.get_parent.url }}">Back to blog listing</a></p>
    </div>

{% endblock %}
