{% extends "base_personal.html" %}

{% load wagtailcore_tags %}

{% load static %}

{% block content %}
        <main>
            <section>
                <h1>{{ page.title }}</h1>
                <div class="intro">{{ page.intro|richtext }}</div>
                <address>
                    <div class="contact-info">
                        <img src="{% static "images/email.svg" %}" alt="Email:">
                        <span class="sr">Email:</span>
                        <a href="mailto:henry@henrysingleton.com">henry@henrysingleton.com</a>
                    </div>
                    <div class="contact-info">
                        <img src="{% static "images/linkedin.svg" %}" alt="LinkedIn:">
                        <a href="https://www.linkedin.com/in/henry-singleton/">LinkedIn</a>
                    </div>
                    <div class="contact-info">
                        <img src="{% static "images/github.svg" %}" alt="GitHub:">
                        <a href="http://github.com/henrysingleton">GitHub</a>
                    </div>
                </address>
            </section>
        </main>
{% endblock %}